src/main/resources/xsd/es/es_daily_consumption.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consumos" type="consumosType"/>
  <xs:complexType name="consumosType">
    <xs:sequence>
      <xs:element type="xs:string" name="CUPS" minOccurs="0"/>
      <xs:element type="xs:string" name="Fecha" minOccurs="0"/>
      <xs:element type="xs:string" name="Hora" minOccurs="0"/>
      <xs:element type="xs:string" name="Consumo_kWh" minOccurs="0"/>
      <xs:element type="xs:string" name="metodo_obtencion" minOccurs="0"/>
      <xs:element type="consumosType" name="consumos" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>